.icon-left {
    position: absolute;
    top: 10px;
    left : 10px;
}

.icon-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
}

.season-display.winter i {
    color: #000;
}

.winter {
    background-color:skyblue;
}

.winter h1 {
    color: #000;
}

.season-display.summer i {
    color: white;
}

.summer {
    background-color: orange;
}

.summer h1 {
    color: white;
}